.perfil-usuario .contenedor.perfil {
    display: block;
    margin-left: auto;
    width: 90%;
}
.perfil-usuario .portada-perfil {
    display: block;
    background-color: aquamarine;
    position: relative;
    height: 20rem;
}
.perfil-usuario .avatar-perfil {
    display: block;
    width: 200px;
    height: 200px;
    background-color: aliceblue;
    position: absolute;
    bottom: -50px;
    left: 4rem;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #000;
}